html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
body {
  background: url('/img/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f0f0f0;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.btn-secondary:hover {
  background-color: #777;
}

input::placeholder {
  color: #a0a0a0 !important;
  opacity: 1;
}

input.form-control {
  border-color: #444 !important;
}

input.form-control:focus {
  color: #ddd !important; 
  background-color: #333 !important;
}